body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  margin-top: 60px;
}

h2 {
  text-align: center;
  margin:0 auto;
  color: #666;
}

.calculadora {
  width: 350px;
  margin: 40px auto;
  background-color: #9c95c0;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#pantalla {
  width: 90%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: right;
}

input[type="button"] {
  width: 78px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type="button2"] {
  width: 163px;
  height: 40px;
  margin-right: 0px;
  margin-left: 174px;
  margin-bottom: 5px;
  font-size: 16px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  

}


input[type="button"]:hover {
  background-color: #ddd;
}

input[type="button"]:last-child {
  margin-right: 0;
}
